<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="css/index.css">
  {{>headlink}}
</head>
<body>
    <div class="wrap">
       {{>nav}}
        <div class="below">
            <h1>Welcome to my bank</h1>
            
        </div>
        <div class="blank">
            <div class="white">
                <img src="https://www.yourselfquotes.com/wp-content/uploads/Banking-Quotes-by-Bill-Gates.jpg">
            </div>
        </div>
        <section>
        <div class="addusr">
            <img src="https://cdn5.vectorstock.com/i/1000x1000/23/84/clients-waiting-in-queue-flat-vector-27292384.jpg">
            <a href="/form"><h1>Create User</h1></a>
        </div>
        <div class="addusr2">
        <img src="https://dutchreview.com/wp-content/uploads/money-5059442_1280.jpg">
        <a href="/home/moneytransfer"><h2>Transaction</h2></div></a>
        </section>
    </div>
    
</body>
</html>