<!DOCTYPE html>
<html lang="en">
<head>
   {{>headlink}}
</head>
<body>
 <div class="wrapper">
    <div class="index-header">
       <div class="logo">
          <h1>GRIP</h1>
          <h3>THE SPARKS <span>FOUNDATION </span> </h3>
       </div></div>
       <div class="index-section">
          <div class="tak">
             <p>TASK => 1</p>
             <p>TECHNICAL TASK</p>
             <p>WEB AND MOBILE DEVELOPMENT</p>
          </div>

       </div>
       <div class="index-title">
          <h1>BASIC banking system</h1>
          <p>BY</p>
          <p class="name">Rohit</p>
       </div>
    </div>
    <div class="index-link"><a href="/home">Join</a></div>
 </div>
    
</body>
</html>