 <div class="header">
            <div class="logo-home"><span>T</span>SF <span>B</span>ank</div>
            <div class="nav">
                <ul>
                    <li class="active"><a  href="/home">Home</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="/home/transfermoney/VieallCustomers">View all Customers</a></li>
                            <li><a href="#">Select and View one Customer</a></li>
                            <li><a href="#">Transfer Money</a>
                            <div class="sub-menu1">
                                <ul>
                                    <li><a href="/home/moneytransfer">Select customer to transfer to</a></li>
                                     <li><a href="/home/transfermoney/VieallCustomers">View all Customers</a></li>
                                </ul>
                            </div>
                           </li>
                        </ul>
                        </div>
                        </li>
                    <li><a href="/form">Create User</a></li>
                    
                </ul>
       
            </div>
   
        </div>